.container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  flex: 2;
}
.right {
  flex: 1;
}
.imgContainer {
  position: relative;
  width: 50px;
  height: 50px;
}
.table {
  width: 100%;
  border-spacing: 20px;
}
.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
}
.total {
  font-weight: 500;
  font-size: 18px;
}
.wrapper {
  width: 90%;
  max-height: 300px;
  background: #333;
  padding: 30px 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.totalTextTitle {
  margin: 5px 0;
  margin-right: 10px;
}
.button {
  margin-top: 10px;
  padding: 5px;
  color: #fff;
  background: #d1411e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .trTitale {
    display: none;
  }
  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .imgContainer {
    width: 150px;
    height: 150px;
  }
  .name,
  .total {
    font-size: 24px;
  }
  .price::before {
    content: "Price: ";
    font-weight: bold;
  }
  .quantity::before {
    content: "Quantity: ";
    font-weight: bold;
  }
  .total::before {
    content: "Total: ";
    font-weight: bold;
  }
  .price,
  .quantity {
    font-size: 24px;
    text-align: center;
  }
  .tr td {
    margin: 5px 0;
  }
  .right {
    width: 100vw;
    margin: auto;
  }
}
